.form-group {
    margin-bottom: 16px;
}

label {
    display      : block;
    font-weight  : 500;
    margin-bottom: 5px;
}

#card-element {
    padding      : 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

#card-errors {
    color     : #fa755a;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #32325d;
    color           : #fff;
    padding         : 8px 20px;
    border          : none;
    border-radius   : 4px;
    font-size       : 15px;
    font-weight     : 600;
    letter-spacing  : 0.025em;
    text-decoration : none;
    transition      : all 150ms ease;
    float           : left;
    width           : 100%;
}

button[type="submit"]:hover {
    transform       : translateY(-1px);
    box-shadow      : 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    background-color: #43458b;
}